__pycache__/
*.py[cod]
.venv/
.env
*.egg-info/
.pytest_cache/
.ruff_cache/
docs/uml/png/
docs/latex/*.aux
docs/latex/*.log
docs/latex/*.out
docs/latex/*.toc
docs/latex/*.fls
docs/latex/*.fdb_latexmk
docs/latex/*.pdf
datos/*.csv
plantuml.jar
